:root {
  --color: hsl(200, 15%, 8%);
  --bg: hsl(0, 0%, 98%);
  --element: hsl(0, 0%, 100%);
}

.dark-mode {
  --color: hsl(0, 0%, 100%);
  --bg: hsl(207, 26%, 17%);
  --element: hsl(209, 23%, 22%);
}

body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}
